:root {
  --font-inter: "Inter", sans-serif;
  --font-nunito-sans: "Nunito_Sans", sans-serif;
}

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans_7pt_Condensed-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans_10pt-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: hsl(200, 15%, 8%);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "NunitoSans", sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
